header
  .details
    h2= name
    p
      span.address= address
      span.city= city
      span.postcode= postcode
  .buttons
    button.edit-client(type="button")
      span.halflings.pencil
      | Edit Client Details
    button.create-invoice.primary(type="button")
      span.halflings.plus-sign
      | New Invoice

.editor
  .row
    label.name Name
    input.name(placeholder='Name', value=name)
  .row
    label.address Address
    input.address(placeholder='Address', value=address)
  .row
    label.city City
    input.city(placeholder='City', value=city)
  .row
    label.postcode Post Code
    input.postcode(placeholder='Post Code', value=postcode)
  .buttons
    button.cancel
      span.halflings.remove
      | Cancel
    button.primary.save
      span.halflings.ok
      | Save Changes
