header
  h2= name
  p
    span.address= address
    span.city= city
    span.postcode= postcode

  button.primary(type="button")
    span.halflings.plus-sign
    | New Invoice
  button(type="button")
    span.halflings.pencil
    | Edit Client Details

  .editor
    label.name Name:
    input.name(placeholder='Name', value=name)
    label.address Address:
    input.address(placeholder='Address', value=address)
    br
    label.city City:
    input.city(placeholder='City', value=city)
    label.postcode Post Code:
    input.postcode(placeholder='Post Code', value=postcode)
    br
    button.cancel
      span.halflings.remove
      | Cancel
    button.primary.save
      span.halflings.ok
      | Save Changes

.invoice-collection

  // section
  //   h4 Not Paid: 2

  // section
  //   h4 Paid: 10
