h3 Invoice

.control
  label Invoice ID
  input(type='number', value=id)

.control
  label Created At
  input(type='date', value=date)

h3 Customer

.control
  label Customer Name
  input(type='text', value=customer)

.control
  label Site
  input(type='text', value=site)

.control
  label Email
  input(type='email', value=email)

h3 Cost

.control
  label Airmover Hire
  input(type='number', value=airmover)

.control
  label Travel
  input(type='number', value=labour)

.control
  label Total
  input(type='number', value=cost)


