h3 Invoice

.control
  label Invoice ID
  input(type='number', name='number', value=number)

.control
  label Created At
  input(type='date', name='date', value=moment(date).format('YYYY-MM-DD'))

h3 Customer

.control
  label Customer Name
  input(type='text', name='customer', value=customer)

.control
  label Site
  input(type='text', name='site', value=site)

.control
  label Email
  input(type='email', name='email', value=email)

h3 Cost

.control
  label Airmover Hire
  input(type='number', name='airmover', value=airmover)

.control
  label Travel
  input(type='number', name='labour', value=labour)

.control
  label Total
  input(type='number', name='cost', value=cost)


